/* General styles for all menus */

.cbp-spmenu {
	background: #010716;
	position: fixed;
}

.cbp-spmenu img {
	padding:0;
	margin:0;
	background: #010716;
}

.cbp-spmenu a, p {
	display: block;
	color: #fff;
	background-color:#010716;
	font-size: 1.1em;
	font-weight: 300;
	text-decoration:none;
	font-family: 'Abel', sans-serif;
	font-size:20px;
}

.cbp-spmenu a:hover {
	background: #060F28;
	border-left-color: #F15A24;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cbp-spmenu a:active {
	background: #060F28;
	color: white;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-left:4px solid #010716;
	padding: 1em;
}
/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.cbp-spmenu h1 {
    color:white;
    padding-left:3em;
}
