.header-img {
  width:0px;
  height:0px;
}

.header-img-mobile {
    /*preciso acabar*/
  margin-bottom:1em;
}

.main_box {
    margin:0px;
    width:100%;
}
.box img, .box frame, .box iframe {
    width:90%;
}
.box {
    margin:0px;
    margin-left:-5px;
    padding:10px;
}
.box p {
    font-size:1.3em;
}
.box h1 {
    font-size:3em;
}
.box h2 {
    font-size:1.8em;
    clear:both;
}
.box-front {
    width:100%;
    margin-left:0px;
    height:20em;
    display:block;
}
.box-front #thumb-img {
    width:100%;
    height:50%;
}
.box-front:active {
    background-color:#060F28;
}
.box-front #box-front-text {
    width:100%;
    height:40%;
    display:block;
}
.archive_box {
    width:101%;
    margin-left:-5px;
}
.archive_box:active {
    background-color:#060F28;
}
.side {
    display:none;
}
.box-nav {
    font-size:3em;
}
.postSet a {
    clear:both;
}
.postSet a:active {
    background-color:#060F28;
}
.search {
    display:none;
}
.footer #footer-area {
    margin-left:0px;
}
